.logo-web {
	font-family: var(--secondary-font);
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}

.logo-black {
	font-family: var(--secondary-font);
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
	color: var(--main-color);
}

.logo-white {
	font-family: var(--secondary-font);
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
	color: var(--third-color);
}
