*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: var(--main-font);
	font-style: normal;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.address {
	font-style: normal;
}

img {
	display: block;
}
