.our-advantages {
	padding-bottom: 94px;
	padding-top: 94px;

	&-icon-1::before {
		display: block;
		content: " ";
		width: 270px;
		height: 120px;
		background-color: var(--bgd-color);
		margin-bottom: 30px;
		background-image: url(../images/studio/our-advantages/antenna.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	&-icon-2::before {
		display: block;
		content: " ";
		width: 270px;
		height: 120px;
		background-color: var(--bgd-color);
		margin-bottom: 30px;
		background-image: url(../images/studio/svg/our-advantages-icon/astronaut.svg);
		background-repeat: no-repeat;
		background-position: center;
	}

	&-icon-3::before {
		display: block;
		content: " ";
		width: 270px;
		height: 120px;
		background-color: var(--bgd-color);
		margin-bottom: 30px;
		background-image: url(../images/studio/svg/our-advantages-icon/clock.svg);
		background-repeat: no-repeat;
		background-position: center;
	}

	&-icon-4::before {
		display: block;
		content: " ";
		width: 270px;
		height: 120px;
		background-color: var(--bgd-color);
		margin-bottom: 30px;
		background-image: url(../images/studio/svg/our-advantages-icon/diagram.svg);
		background-repeat: no-repeat;
		background-position: center;
	}

	&-subtitle {
		margin-top: 0px;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.143;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--main-color);
	}

	&-text {
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.714;
		letter-spacing: 0.03em;
		color: var(--secondary-color);
	}

	&-list {
		display: flex;
		flex-wrap: wrap;

		&-item {
			width: calc((100% - 90px) / 4);
			margin-right: 30px;

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}
